.login-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(119, 114, 114, 0.473),
    rgba(161, 150, 150, 0.726)
    ),
    url(/src/componets/image/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-inner-container {
  background: rgba(255, 246, 246, 0.705);
  padding: 75px 50px;
  border-radius: 5px;
}

@media screen and (max-width: 1500px) {
  .login-image-container {
    display: none;
  }
  .login-inner-container {
    width: 80%;
  }
}
